<div id="particles-js"></div>

<section id="hello">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<h1>Connected</h1>
				<h2>development</h2>
				<p class="lead">Helping clients connect the dots between ideas, design, development and deployment.</p>
				<%= link_to "Our Process", "#follower", class: "btn btn-lg btn-trans one page-scroll" %>
			</div>
		</div>
	</div>
</section>

<section id="us">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<div class="row">
					<div class="col-md-7">

						<h4>SIMPLY STATED:</h4>
						<p>We are <span class="call one">designers and developers</span>. We <span class="call two">love web development</span>. From idea <span class="call one">validation</span> to product <span class="call one">deployment</span>, let us help you <span class="call two">connect the dots</span>.</p>
					</div>
					<div class="col-md-5">
						<%= image_tag("comp.png", class: "img-responsive")%>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>

<section id="do">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">

				<h2 class="text-center">This is what we do.</h2>

				<div class="row text-center does">
					<div class="col-xs-3">
						<%= image_tag('responsive.png', class: 'img-responsive') %>
						<h4>Site Design</h4>
					</div>
					<div class="col-xs-3">
						<%= image_tag('ruby.png', class: 'img-responsive') %>
						<h4>Ruby on Rails</h4>
					</div>
					<div class="col-xs-3">
						<%= image_tag('reactjs.png', class: 'img-responsive') %>
						<h4>React JS</h4>
					</div>
					<div class="col-xs-3">
						<%= image_tag('apps.png', class: 'img-responsive') %>
						<h4>Mobile Apps</h4>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>

<section id="follower">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<div class="row">
					<h2 class="text-center">We follow a <span class="callout red">simple</span> and <span class="callout green">transparent</span> process.</h2>
					<div class="col-md-4">
						<div class="boxes">
							<div class="top blue">
								<%= image_tag("define.png", class: "img-responsive pull-right")%>
		    				<h3>Define</h3>
		    			</div>
		    			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		    			<div class="container-fluid">
		    				<a class="btn btn-block black">What to Define ?</a>
		    			</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="boxes">
							<div class="top yellow">
								<%= image_tag("develop.png", class: "img-responsive pull-right")%>
		    				<h3>Develop</h3>
		    			</div>
		    			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		    			<div class="container-fluid">
		    				<a class="btn btn-block black">How to Develop ?</a>
		    			</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="boxes">
							<div class="top green">
								<%= image_tag("deploy.png", class: "img-responsive pull-right")%>
		    				<h3>Deploy</h3>
		    			</div>
		    			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		    			<div class="container-fluid">
		    				<a class="btn btn-block black">Where to Deploy ?</a>
		    			</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>

<div class="clearfix"></div>

<section id="nexter">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<h2>Enough about us.  Let's talk about you...</h2>
				<p class="lead">We want to know what we can do to make your project a success.  Get in touch so we can help you build something awesome.</p>
				<%= form_for Lead.new, class: "inline" do |f| %>
				  <div class="row">
				    <div class="form-group col-md-4">
				      <label>Name</label>
				      <%= f.text_field :name, class: "form-control", placeholder: "Your name...", required: true %>
				    </div>
				    <div class="form-group col-md-4">
				      <label>Email</label>
				      <%= f.email_field :email, class: "form-control", placeholder: "Your email...", required: true %>
				    </div>
				    <div class="form-group col-md-4">
				      <label>Telephone</label>
				      <%= f.text_field :telephone, class: "form-control", placeholder: "Your phone..." %>
				    </div>
				  </div>
				  <div class="form-group">
				    <label>Message:</label>
				    <%= f.text_area :message, rows: "4", class: "form-control", placeholder: "Tell us about you, your project, or anything else here...", required: true %>
				  </div>
				  <%= button_tag class: "btn btn-lg btn-trans two pull-right" do %>
				  	Contact Us
				  <% end %>
				<% end %>


			</div>
		</div>
	</div>
</section>
