<%= form_for(@course) do |f| %> 
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this month from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel-group panel-default">
    <div class="form-group">
      <%= f.label :name, "Nombre del Curso" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :description, "Descripción" %> <small>(Puedes incluir HTML)
      <%= f.text_field :description, class: "form-control" %>
    </div>

     <div class="form-group">
	    <%= f.label :image %>
	    <%= f.file_field :image, class: "form-control" %>
	  </div>

    <div class="actions">
      <%= f.submit "Submit", class: "btn btn-lg btn-info" %>
      <%= link_to 'Back', courses_path, class: "btn btn-lg btn-primary pull-right" %>
    </div>
  </div><!-- PANEL-GROUP -->
<% end %>
