<%= form_for(@course) do |f| %> 
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this month from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel-group panel-default">
    <div class="form-group">
      <%= f.label :name, "Nombre del Curso" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label "Descripción Breve" %> <small> (Para la página Index)</small>
      <%= f.text_field :stdesc, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :image %>
      <%= f.file_field :image, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label "Título" %> <small>(Puedes incluir HTML)</small>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label "Mensaje" %> <small>(Puedes incluir HTML)</small>
      <%= f.text_field :sales_message, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :description, "Descripción" %> <small>(Puedes incluir HTML)</small>
      <%= f.text_field :description, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label "Características" %> <small>(Puedes incluir HTML)</small>
      <%= f.text_field :characteristics, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label "Testimoniales" %> <small>(Puedes incluir HTML)</small>
      <%= f.text_field :testimonial, class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "Guardar", class: "btn btn-lg btn-info" %>
      <%= link_to 'Cancelar', courses_path, class: "btn btn-lg btn-danger pull-right" %>
    </div>
  </div><!-- PANEL-GROUP -->
<% end %>
