<!DOCTYPE html>
<html>
<head>
  <title>Aprender Anywhere</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="PJpvafTqkpBgtY8X08LxMbbkAjbhffEq9B-mfeoGjbE" />
</head>
<body>
<script>
$(function() {
  $('#right-menu').sidr({
    name: 'sidr-right',
    side: 'right'
  });
});
</script>

<%= render 'layouts/header' %>

<% flash.each do |name, msg| %>
	<div class="container">	
		<%= content_tag(:div, msg, class: "alert alert-dismissible fade in") do %>
			<div class="container">
				<%= msg %>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
			</div>
		<% end %>
	</div>
<% end %>

<%= yield %>
<div class="clearfix"></div>

<%= render 'layouts/footer' %>

</body>
</html>